a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;
}
body{
	font-size: 14px;

}
nav{
	font-size: 14px;
}
nav div a{
  text-decoration: none;
  border-bottom: unset;
}
table{
	font-size: 12px;
}
.small-photo{
	width:15px;
	height:15px;
}
.nowrap{
	white-space: nowrap;
}