[viewBag]
==
<?php
function onStart(){
	$this['config_app_name'] = Config::get('app.name');
	$this['main_organisation_website'] = Config::get('gviabcua_repository.main_organisation_website');
	$this['main_organisation_name'] = Config::get('gviabcua_repository.main_organisation_name');
	$this['year'] = date("Y");
}
?>
==
<div class="container">
  <footer class="py-3 my-4">
    <p class="text-center text-muted">© 2022-{{year}} {{config_app_name}}, <a href="{{main_organisation_website}}">{{main_organisation_name}}</a></p>
    <p class="text-center text-muted">© gviabcua - Open Source Code <a href="https://github.com/gviabcua/gviabcua-repository-system">GITHUB</a></p>
  </footer>
  {{gviabcua_repository}}
</div>