[viewBag]
==
<?php
function onInit(){
	$this['config_app_name'] = Config::get('app.name');
}
?>
==
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{config_app_name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list-check"></i> {{"Покажчики"|_}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/authors"><i class="bi bi-people"></i> {{"Автори"|_}}</a></li>
            <li><a class="dropdown-item" href="/collections"><i class="bi bi-list-stars"></i> {{"Колекції"|_}}</a></li>
            <li><a class="dropdown-item" href="/themes"><i class="bi bi-list-task"></i> {{"Теми"|_}}</a></li>
            <li><a class="dropdown-item" href="/types"><i class="bi bi-list-ol"></i> {{"Типи"|_}}</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/stat"><i class="bi bi-graph-up"></i> {{"Статистика"|_}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/search"><i class="bi bi-search"></i> {{"Пошук"|_}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/help"><i class="bi bi-book"></i> {{"Довідка"|_}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>