[viewBag]
==
<?php
use Gviabcua\Repository\Models\Matherials;

function onStart(){
	$this['identify'] = Matherials::getRepositoryUrlHandle()."/";
}
?>
==
{% if matherials%}
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>UID</th>
				<th>{{"Назва"|_}}</th>
				<th>{{"Рік"|_}}</th>
				<th>{{"Автори"|_}}</th>
				<th>{{"Колекції"|_}}</th>
				<th>{{"Теми"|_}}</th>
				<th>{{"Типи"|_}}</th>
			</tr>
		</thead>
		<tbody>
			{%for rec in matherials %}
				<tr>
					<td>{{rec.id}}</td>
					<td><a href="{{identify}}{{rec.id}}">{{rec.title_orig}}</a></td>
					<td><a href="/search?s_year={{rec.year}}">{{rec.year}}</a></td>
					<td>
						{%for author in rec.authors%}
							<span class="nowrap">
								{%if author.photo.path%}
									<img class='small-photo' src="{{author.photo.thumb(50,50,{'mode':'crop'})}}">
								{%else%}
									<img class='small-photo' src="{{"assets/images/nophoto.png"|theme}}">
								{%endif%}
								<a href="/search?s_author={{author.id}}">{{author.name}}</a>
							</span><br>
						{%endfor%}
					</td>
					<td>{%for collection in rec.collections%}{{collection.collection}}<br>{%endfor%}</td>
					<td>{%for theme in rec.themes%}{{theme.theme}}<br>{%endfor%}</td>
					<td>{%for type in rec.types%}{{type.type}}<br>{%endfor%}</td>
				</tr>
			
			{%endfor %}
		</tbody>
	</table>
{%else%}
	{% partial 'template/no_info' %}
{%endif%}