title = "Автори"
url = "/authors"
layout = "default"
is_hidden = 0
==
<?php
use Gviabcua\Repository\Models\Authors;

function onStart(){
	$letter = trim(e(get('letter')));
	
	$authors = Authors::orderby("name","asc");
	if ($letter ){
		$authors = $authors->where('name', 'like',"$letter%");
		$this['letter'] = $letter;
	}
	$authors = $authors->withCount('matherials')->get();
	
	$array = [];
	foreach($authors as $author){
		$array[mb_substr($author->name, 0, 1)][$author->id]['name'] = $author->name;
		$array[mb_substr($author->name, 0, 1)][$author->id]['matherials_count'] = $author->matherials_count;
	}
	$this['authors'] = collect($array);
}
?>
==
<div class="card mt-3">
	<div class="card-header text-center"><h6 class="text-center">{{"Алфавітний покажчик авторів"|_}} {%if letter%}({{letter}}){%endif%}</h6></div>
	<div class="card-body">
		{%if authors%}
			<div class="row" data-masonry='{"percentPosition": true }'>
				{%for letter, letters in authors%}
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="card mb-3">
							<div class="card-header text-center"><b>{{letter|upper}}</b></div>
							<div class="card-body">
								{%for id, rec in letters%}
									<a href="/author/{{id}}">{{rec.name}}</a> ({{rec.matherials_count}})<br>
								{%endfor%}
							</div>
						</div>
					</div>
				{%endfor%}
			</div>
		{%else%}
			{% partial 'template/no_info' %}
		{%endif%}
	</div>
</div>