title = "search"
url = "/search"
layout = "default"
is_hidden = 0
==
<?php
use Gviabcua\Repository\Models\Authors;
use Gviabcua\Repository\Models\Matherials;
use Gviabcua\Repository\Models\Collections;
use Gviabcua\Repository\Models\Themes;
use Gviabcua\Repository\Models\Types;

function onInit(){
	$this['years'] = Matherials::select("year")->groupby('year')->orderby("year", "desc")->get();
	$this['authors'] = Authors::select("id","name")->groupby('id','name')->orderby("name", "asc")->get();
	$this['collections'] = Collections::select("id","collection")->groupby('id','collection')->orderby("collection", "asc")->get();
	$this['themes'] = Themes::select("id","theme")->groupby('id','theme')->orderby("theme", "asc")->get();
	$this['types'] = Types::select("id","type")->groupby('id','type')->orderby("type", "asc")->get();

	
	$s_search = trim(get('s_search'));
	$this['s_search'] = $s_search;
	
	$s_year = trim(get('s_year'));
	$this['s_year'] = $s_year;
	
	$s_author = trim(get('s_author'));
	$this['s_author'] = $s_author;
	
	$s_collection = trim(get('s_collection'));
	$this['s_collection'] = $s_collection;
	
	$s_theme = trim(get('s_theme'));
	$this['s_theme'] = $s_theme;
	
	$s_type = trim(get('s_type'));
	$this['s_type'] = $s_type;
	
	$this['Matherial'] = Matherials::where('active', 1);
	
	
	if(($s_search != "") and ($s_search != null)){
		$this['Matherial'] = $this['Matherial']->where(function ($query) use ($s_search){
				$query->where('title_orig', 'like', "%$s_search%")
					->orWhere('title_eng', 'like', "%$s_search%")
					->orWhere('bibliographic', 'like', "%$s_search%")
					->orWhere('description', 'like', "%$s_search%")
					->orWhere('key_words', 'like', "%$s_search%");
			});
	}
	
	if($s_year > 0){
		$this['Matherial'] =$this['Matherial']->where("year", $s_year);
	}
	if($s_author > 0){
		$this['Matherial'] =$this['Matherial']->whereHas('authors', function ($q) use ($s_author){
	  		$q->where("id","=",$s_author);
		});
	}
	if($s_collection > 0){
		$this['Matherial'] =$this['Matherial']->whereHas('collections', function ($q) use ($s_collection){
	  		$q->where("id","=",$s_collection);
		});
	}
	if($s_theme > 0){
		$this['Matherial'] =$this['Matherial']->whereHas('themes', function ($q) use ($s_theme){
	  		$q->where("id","=",$s_theme);
		});
	}
	if($s_type > 0){
		$this['Matherial'] =$this['Matherial']->whereHas('types', function ($q) use ($s_type){
	  		$q->where("id","=",$s_type);
		});
	}
	
	
	$this['Matherial'] =$this['Matherial']->orderby("year", "desc")->paginate(20);
	
}
?>
==
<div class="card mt-3">
	<div class="card-header text-center"><h6 class="text-center">{{"Розширений пошук"|_}}</h6></div>
	<div class="card-body">
		<form class="row">
			<div class="col-md-12 mb-1">
				<input class="form-control" name="s_search" placeholder="{{"Пошукова фраза"}}" value="{{s_search}}">
			</div>
			<div class="col-md-4 mb-1">
				<select class="form-select" name = "s_author">
					<option value="-1">{{"Автор"|_}}</option>
					{%for rec in authors%}
						<option value="{{rec.id}}" {%if s_author == rec.id%}selected{%endif%}>{{rec.name}}</option>
					{%endfor%}
				</select>
			</div>
			<div class="col-md-4 mb-1">
				<select class="form-select" name = "s_collection">
					<option value="-1">{{"Колекція"|_}}</option>
					{%for rec in collections%}
						<option value="{{rec.id}}" {%if s_collection == rec.id%}selected{%endif%}>{{rec.collection}}</option>
					{%endfor%}
				</select>
			</div>
			<div class="col-md-4 mb-1">
				<select class="form-select" name = "s_theme">
					<option value="-1">{{"Тема"|_}}</option>
					{%for rec in themes%}
						<option value="{{rec.id}}" {%if s_theme == rec.id%}selected{%endif%}>{{rec.theme}}</option>
					{%endfor%}
				</select>
			</div>
			<div class="col-md-4 mb-1">
				<select class="form-select" name = "s_type">
					<option value="-1">{{"Тип"|_}}</option>
					{%for rec in types%}
						<option value="{{rec.id}}" {%if s_type == rec.id%}selected{%endif%}>{{rec.type}}</option>
					{%endfor%}
				</select>
			</div>
			
			<div class="col-md-4 mb-1">
				<select class="form-select" name = "s_year">
					<option value="-1">{{"Рік"|_}}</option>
					{%for rec in years%}
						<option value="{{rec.year}}" {%if s_year == rec.year%}selected{%endif%}>{{rec.year}}</option>
					{%endfor%}
				</select>
			</div>
			<div class="col-md-4 mb-1">
				<button type="submit" class="btn btn-block btn-sm btn-primary" style="width:100%;"><i class="bi bi-search"></i> {{"Пошук"|_}}</button>
			</div>
			<div class="col-md-4">
				
			</div>
		</form>
		
		
	</div>
</div>

<div class="card mt-3">
	<div class="card-header text-center"><h6 class="text-center">{{"Результати пошуку"|_}}</h6></div>
	<div class="card-body">
		{% partial 'matherials' matherials = Matherial %}
	</div>
	<center>
	{{Matherial.appends({
		's_author':s_author, 
		's_collection':s_collection,
		's_theme':s_theme,
		's_type':s_type,
		's_year':s_year,
		})|raw}}
	{% partial 'template/pagination_count'  pagesss = Matherial %}
	</center>
	<style>
		.pagination{
			display: inline-flex !important;
		}
		.pagination li{
			padding:10px;
			}
	</style>
</div>